ReadTecplotPath {{ data.neb_initial_path_name }}

set MaxEnergyEvaluations {{ data.max_energy_evaluations }}
set MaxPathEvaluations {{ data.max_path_evaluations }}

! {{ data.material.name }} {{ data.material.temperature }}C
set Ms {{ data.material.ms }}
set K1 {{ data.material.k1 }}
set Aex {{ data.material.aex }}

external field strength {{ data.external_field.strength }} {{ data.external_field.unit }}
external field direction {{ data.external_field.x }} {{ data.external_field.y }} {{ data.external_field.z }}

EnergyLog {{ data.energy_log_file }}

{{ data.minimizer }}
Set ExchangeCalculator {{ data.exchange_calculator }}

PathMinimize

CloseLogFile
WriteTecPlotPath {{ data.neb_file_name }}

PathStructureEnergies

End
