Set MaxMeshNumber 1

ReadMesh 1 {{ model.mesh_file }}

{{ model.minimizer }}

Set ExchangeCalculator {{ model.exchange_calculator }}

External Field Strength {{ model.ambient_field.strength }} {{ model.ambient_field.unit }}
External Field Direction {{ model.ambient_field.x }} {{ model.ambient_field.y }} {{ model.ambient_field.z }}

! {{ model.material.name }} {{ model.material.temperature }}C
set Ms {{ model.material.ms }}
set K1 {{ model.material.k1 }}
set Aex {{ model.material.aex }}

ReadMagnetization {{ model.field.dat_file }}

ReportEnergy

End
