#!/bin/bash

#SBATCH --job-name={{sdata.unique_id}}

#SBATCH -N {{sdata.N}} # No. of nodes
#SBATCH -n {{sdata.n}} # No. of tasks 
#SBATCH -c {{sdata.c}} # No. of cores per task

#SBATCH --time={{sdata.time}}
#SBATCH --chdir={{sdata.working_directory}}

# Set module path
MODULEPATH=/geos/d22/shared/MicroMag/modules:$MODULEPATH

# Load modules
source {{ sdata.environment }}

srun -N 1 m4db_wait --unique-id {{sdata.unique_id}}
srun -N 1 m4db_neb_set_running_status --unique-id {{sdata.unique_id}} --new-status running
srun -N 1 merrill {{sdata.merrill_script}} 1> {{sdata.neb_stdout_txt}} 2> {{sdata.neb_stderr_txt}}
srun -N 1 m4db_neb_set_running_status --unique-id {{sdata.unique_id}} --new-status `m4db_neb_evaluate_running_status {{ sdata.unique_id }}`
