Displaying metadata for geometry: {{ geometry.unique_id }}

Description
=====================


Size: {{ '{}'.format(geometry.size) if geometry.size is not none else 'n/a' }}
Size Convention: {{ geometry.size_convention.description }}
Size Unit: {{ geometry.size_unit.symbol }}

