Displaying metadata for model: {{ model.unique_id }}

Calculated quantities
=====================

Energies
--------

Total structure energy [J]: {{ '{: 20.15e}'.format(model.e_tot) if model.e_tot is not none else 'n/a' }}
Anisotropy energy [J]:      {{ '{: 20.15e}'.format(model.e_anis) if model.e_tot is not none else 'n/a' }}
Demagnetization energy [J]: {{ '{: 20.15e}'.format(model.e_demag) if model.e_tot is not none else 'n/a' }}
Exchange energy [J]:        {{ '{: 20.15e}'.format(model.e_exch1) if model.e_tot is not none else 'n/a' }}
External field energy [J]:  {{ '{: 20.15e}'.format(model.e_ext) if model.e_tot is not none else 'n/a' }}

Other quantities
----------------

Helicity (total) [um^2]:         {{ '{: 20.15e}'.format(model.h_tot) if model.e_tot is not none else 'n/a' }} 

Vorticity vector (total) [um^2]: {{ '{: 20.15e}'.format(model.vx_tot) if model.e_tot is not none else 'n/a' }}
                                 {{ '{: 20.15e}'.format(model.vy_tot) if model.e_tot is not none else 'n/a' }}
                                 {{ '{: 20.15e}'.format(model.vz_tot) if model.e_tot is not none else 'n/a' }}

Remanence vector (total) [um^3]: {{ '{: 20.15e}'.format(model.mx_tot) if model.e_tot is not none else 'n/a' }}
                                 {{ '{: 20.15e}'.format(model.my_tot) if model.e_tot is not none else 'n/a' }}
                                 {{ '{: 20.15e}'.format(model.mz_tot) if model.e_tot is not none else 'n/a' }}

ADM (total) [um^3]:              {{ '{: 20.15e}'.format(model.adm_tot) if model.e_tot is not none else 'n/a' }}

Geometry
========

Name: {{ model.geometry.name }}
{{ model.geometry.description }}

Size ({{ model.geometry.size_convention.symbol }}) [{{ model.geometry.size_unit.symbol }}]: {{ model.geometry.size }}

Volume [{{ model.geometry.size_unit.symbol }}^3]: {{ model.geometry.volume }}


Material(s)
===========

{% for mma in model.materials %}
{{ mma.material.name }} {{ mma.material.temperature }}C
{%- endfor %}

