
===============================
Model IDs and associated quants
===============================

+--------------------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+
| Unique id                            | Total energy [J]       | External energy [J]    | Anisotropy energy [J]  | Demag energy [J]       | Exchange energy [J]    | ADM integration        | Helicity integration   |
+======================================+========================+========================+========================+========================+========================+========================+========================+
{%- for q in ql %}
| {{ q.unique_id }} | {{ '{: 20.15e}'.format(q.e_tot) if q.e_tot is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.e_ext) if q.e_ext is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.e_anis) if q.e_anis is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.e_demag) if q.e_demag is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.e_exch1) if q.e_exch1 is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.adm_tot) if q.adm_tot is not none else 'n/a' }} | {{ '{: 20.15e}'.format(q.h_tot) if q.h_tot is not none else 'n/a' }} |
{%- endfor %}
+--------------------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+------------------------+
