Displaying metadata for neb: {{ neb.unique_id }}

Description
=====================


Start Model Unique ID: {{ '{}'.format(neb.start_model.unique_id) }}
End Model Unique ID: {{ '{}'.format(neb.end_model.unique_id) }}